*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
::-webkit-scrollbar{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: black;
}
